In [ ]:
Get user input using input(“Enter your age: ”). 
If user is 18 or older, give feedback: You are old enough to drive. If below 18 give feedback to wait for the missing amount of years.

In [3]:
age = int(input('Enter your age:'));
if age > 17 :
    print('You are old enough to drive.')
else:
    print('You need '+str(18 - age)+' more years to learn to drive.')

Enter your age:12
You need 6 more years to learn to drive.

In [ ]:
Compare the values of my_age and your_age using if-else. 
Who is older (me or you)? Use input(“Enter your age: ”) to get the age as input. 
You can use a nested condition to print 'year' for 1 year difference in age, 'years' for bigger differences, 
and a custom text if my_age = your_age.

In [10]:
age = int(input('Enter your age:'));
if (age-25) ==1:
    print(str(age)+'for 1 year difference')
else :
    print('You are '+str(age-25)+' years older than me.')

Enter your age:18
You are -7 years older than me.

In [ ]:
Get two numbers from the user using input prompt. If num_1 is greater than num_2 return num_1 is greater than num_2, 
if num_1 is less num_2 return num_1 is smaller than num_2, else num_1 is equal to num_2. Output:

In [13]:
one = int(input('Enter number one:'))
two = int(input('Enter number two:'))
if one>two:
    print(one,'is greater than',two)
else:
    print(two,'is greater than',one)

Enter number one:2
Enter number two:54
54 is greater than 2

In [ ]:
Write a code which gives grade to students according to theirs scores:

In [14]:
grade = int(input('Enter your grade:'))
if grade>=90 and grade<=100:
    print('A')
elif grade>=70 and grade <= 89:
    print('B')
elif grade>=60 and grade <=69:
    print('C')
elif grade>=50 and grade <=59:
    print('C')
elif grade>=0 and grade <=49:
    print('F')

Enter your grade:23
F

In [ ]:
Check if the season is Autumn, Winter, Spring or Summer.

In [15]:
Autumn = ['September', 'October','November']
Winter = ['December', 'January','February']
Spring = ['March', 'April' ,'May']
Summer=['June', 'July', 'August']
month = str(input('Enter month:'))
if month in Autumn:
    print('Autumn')
elif month in Winter:
    print('Winter')
elif month in Spring:
    print('Spring')
elif month in Summer:
    print('Summer')

Enter month:September
Autumn

In [ ]:
The following list contains some fruits:

In [18]:
fruits = ['banana', 'orange', 'mango', 'pear']
fruit = str(input('Enter a fruit'))
if fruit in fruits:
    print(fruit,'already exist in the list')
else :
    fruits.append(fruit)
    print(fruits)

Enter a fruitapple
['banana', 'orange', 'mango', 'pear', 'apple']

In [ ]:
Here we have a person dictionary. Feel free to modify it!
*Check if the person dictionary has skills key, if so print out the middle skill in the skills list.
* Check if the person dictionary has skills key, if so check if the person has 'Python' skill and print out the result.
 * If a person skills has only Python and Matlab, print('He knows machine learning'), 
    if the person skills has Python, and R print('He knows statistics'),
    if the person skills has C, and C++, Print('He knows software development'),
    else print('unknown title') - for more accurate results more conditions can be nested!
 * If the person is married and if he lives in Finland, print the information in the following format:
    Milaan Parmar lives in Finland. He is married.

In [25]:
person={
    'first_name': 'Milaan',
    'last_name': 'Parmar',
    'age': 96,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['Python', 'Matlab', 'R', 'C', 'C++'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}

if(person.__contains__('skills')):
    list = person.get('skills')
    print(list[int(len(list)/2)])

if(person.__contains__('skills')):
    list = person.get('skills')
    if 'Python' in list:
        print('has Python')
    else:
        print('no Python')


if(person.__contains__('skills')):
    list = person.get('skills')
    if 'Python' in list and 'Matlab' in list:
        print('He knows machine learning')
    elif 'Python' in list and 'R' in list:
        print('He knows statistics')
    elif 'C' in list and 'C++' in list:
        print('He knows software development')
    else:
        print('unknown title')

if person.get('is_marred') and person.get('country')=='Finland':
    print(person.get('first_name')+' '+person.get('last_name')+' lived in Finland. He is married')

R
has Python
He knows machine learning
Milaan Parmar lived in Finland. He is married

In [ ]:
Iterate 0 to 10 using for loop, do the same using while loop.

In [32]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
Iterate 10 to 0 using for loop, do the same using while loop.

In [29]:
for i in range(10,-1,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
Write a loop that makes seven calls to print(), so we get on the output the following triangle:

In [42]:
for i in range(0,7):
    for j in range(0,8):
        print ("#",end="")
    print("\n")

########

########

########

########

########

########

########

In [ ]:
Use nested loops to create the following:

In [53]:
for i in range(1,7):
    for j in range(0,7-i):
        print(' ',end="")
    for j in range(0,2*i-1):
        print("#",end="")
    print("")

      #
     ###
    #####
   #######
  #########
 ###########

In [ ]:
Print the following pattern using loops

In [55]:
for i in range(0,11):
    print(i,'x',i,'=',i*i)

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

In [ ]:
Iterate through the list, ['Python', 'Numpy','Pandas','Scikit', 'Pytorch'] using a for loop and print out the items.

In [56]:
lists = ['Python', 'Numpy','Pandas','Scikit', 'Pytorch']
for i in lists:
    print(i)

Python
Numpy
Pandas
Scikit
Pytorch

In [ ]:
Use for loop to iterate from 0 to 100 and print only even numbers

In [57]:
for i in range(0,101):
    if i%2==0:
        print(i,end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
Use for loop to iterate from 0 to 100 and print only odd numbers

In [58]:
for i in range(0,101):
    if i%2!=0:
        print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
Use for loop to iterate from 0 to 100 and print the sum of all numbers.

In [60]:
sum=0
for i in range(0,101):
    sum+=i
print(' The sum of all numbers is',sum)

 The sum of all numbers is 5050

In [ ]:
Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.

In [ ]:
sum_evens=0
sum_odds=0
for i in range(0,101):
    if i%2==0:
        sum_evens+=i
    else:
        sum_odds+=i

print('The sum of all evens is',sum_evens,'. And the sum of all odds is',sum_odds)

In [ ]:
Go to the data folder and use the countries.py file. Loop through the countries and extract all the countries containing the word land.

In [7]:
from countries import countries
for c in countries:
    print(c,end=" , ")

Afghanistan , Albania , Algeria , Andorra , Angola , Antigua and Barbuda , Argentina , Armenia , Australia , Austria , Azerbaijan , Bahamas , Bahrain , Bangladesh , Barbados , Belarus , Belgium , Belize , Benin , Bhutan , Bolivia , Bosnia and Herzegovina , Botswana , Brazil , Brunei , Bulgaria , Burkina Faso , Burundi , Cambodia , Cameroon , Canada , Cape Verde , Central African Republic , Chad , Chile , China , Colombi , Comoros , Congo (Brazzaville) , Congo , Costa Rica , Cote d'Ivoire , Croatia , Cuba , Cyprus , Czech Republic , Denmark , Djibouti , Dominica , Dominican Republic , East Timor (Timor Timur) , Ecuador , Egypt , El Salvador , Equatorial Guinea , Eritrea , Estonia , Ethiopia , Fiji , Finland , France , Gabon , Gambia, The , Georgia , Germany , Ghana , Greece , Grenada , Guatemala , Guinea , Guinea-Bissau , Guyana , Haiti , Honduras , Hungary , Iceland , India , Indonesia , Iran , Iraq , Ireland , Israel , Italy , Jamaica , Japan , Jordan , Kazakhstan , Kenya , Kiribati , Korea, North , Korea, South , Kuwait , Kyrgyzstan , Laos , Latvia , Lebanon , Lesotho , Liberia , Libya , Liechtenstein , Lithuania , Luxembourg , Macedonia , Madagascar , Malawi , Malaysia , Maldives , Mali , Malta , Marshall Islands , Mauritania , Mauritius , Mexico , Micronesia , Moldova , Monaco , Mongolia , Morocco , Mozambique , Myanmar , Namibia , Nauru , Nepal , Netherlands , New Zealand , Nicaragua , Niger , Nigeria , Norway , Oman , Pakistan , Palau , Panama , Papua New Guinea , Paraguay , Peru , Philippines , Poland , Portugal , Qatar , Romania , Russia , Rwanda , Saint Kitts and Nevis , Saint Lucia , Saint Vincent , Samoa , San Marino , Sao Tome and Principe , Saudi Arabia , Senegal , Serbia and Montenegro , Seychelles , Sierra Leone , Singapore , Slovakia , Slovenia , Solomon Islands , Somalia , South Africa , Spain , Sri Lanka , Sudan , Suriname , Swaziland , Sweden , Switzerland , Syria , Taiwan , Tajikistan , Tanzania , Thailand , Togo , Tonga , Trinidad and Tobago , Tunisia , Turkey , Turkmenistan , Tuvalu , Uganda , Ukraine , United Arab Emirates , United Kingdom , United States , Uruguay , Uzbekistan , Vanuatu , Vatican City , Venezuela , Vietnam , Yemen , Zambia , Zimbabwe ,

In [ ]:
This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop.

In [3]:
fruits_list = ['banana', 'orange', 'mango', 'lemon']
i=0
j=len(fruits_list)-1
while(i<j):
    tmp = fruits_list[i]
    fruits_list[i] = fruits_list[j];
    fruits_list[j]=tmp;
    i+=1
    j-=1
print(fruits_list)

['lemon', 'mango', 'orange', 'banana']

In [ ]:
Go to the data folder and use the countries_data.py file.
What are the total number of languages in the data
Find the ten most spoken languages from the data
Find the 10 most populated countries in the world

In [26]:
from countries_details_data import data

ImportError: cannot import name 'data' from 'countries_details_data' (F:\local-project\milan99_lishuanghui_pycode\03_Python_Flow_Control-main\countries_details_data.py)